/* spartan-regular - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/spartan-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/spartan-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spartan-500 - latin */
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/spartan-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spartan-700 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/spartan-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
      font-family: 'Spartan';
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      color: black;
      margin: 0;
      background-color:white;
  }


.header{
  background-color: green;
}
.header_wrapper{
  display: flex;
  flex-wrap: wrap;
}

.header__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1250d6;
  
}

.list_with_imgs{
  list-style-image: url(/img/faq_list5_2.png);
  margin:20px;
  padding:0;
  display: flex;
  justify-content: space-between;
  animation: 5s show ease;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none; 
}
li a:hover {
  background-color: #003dc0;
}
.img_tyler{
  width:10%;
  height: 5%;
}
img{
  margin: 2px;
}

h1{
  text-align: center;
}

.miganie{
    animation: flicker 3s infinite; /* Параметры анимации */
  }
    @keyframes flicker {
      from { opacity: 1; /* Непрозрачный текст */ }
      to { opacity: 0; /* Прозрачный текст */ }
    }


.text_variations{
  background-color:#3b79ff;
  top: 20px;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray;
  animation: 2s show ease;
}

.lists{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray;
  color:white;
  animation: 2s show ease;
  
}

.tables{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray;
  animation: 2s show ease;
}

.forms{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
  animation: 2s show ease;
}
.FormInArticle{
  background-color:aquamarine; 
  margin:10px; 
  border: solid lightgray;
  font-size: large;
  color:brown;
  font-family:'Lucida Grande';
}
.InputForm{
  background-color:blanchedalmond;
  border: solid lightgray;
  font-size: large;
  font-family:'Lucida Grande';
  color: blueviolet;
}
.videos{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
  display: flex;
  justify-content: space-between, center;
  animation: 2s show ease;
}

.maps{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
  animation: 2s show ease;
}

.imgs{
  background-color:#3b79ff;
  margin: 10px 20px 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: solid lightgray;
  animation: 2s show ease; 
}

.images{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items:flex-start;
  animation: 2s show ease;
}

.mount1{
  opacity: 0.5;
  -moz-transition: all 1s ease-in-out; /* эффект перехода для Firefox до версии 16.0 */
  -webkit-transition: all 1s ease-in-out; /* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
  -o-transition: all 1s ease-in-out; /* эффект перехода для Opera до версии 12.10 */
  transition: all 1s ease-in-out; /* эффект перехода для других браузеров */
  width: 500px;
  height: 500px;
}

.mount1:hover {
  filter: alpha (Opacity=100);
  opacity: 1;
}

.mount2{
  width: 500px;  
  height: 500px;

}
.mount2:hover{
  transform: scale(-1, 1);
}

a.rollover {
  background: url(/img/pexels-eberhard-grossgasteiger-572897.jpg); /* Путь к файлу с исходным рисунком  */
  display: block; /*  Рисунок как блочный элемент */
  width: 500px; /* Ширина рисунка */
  height: 500px; /*  Высота рисунка */
 }

 a.rollover:hover {
  width: 500px;
  height: 500px;
  background: url(/img/pexels-stein-egil-liland-3408744.jpg); /* Путь к файлу с заменяемым рисунком  */
}

.irgups{
  position:relative;
  overflow:hidden;
  border:solid lightgray;
  width: 560px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
}

.videotolearn{
  border:solid lightgray;
  width: 1000px;
  height: 315px;
  display: flex;
  margin: 0 auto;
}

.button{
  background-color: #3b79ff;
  border: solid lightgray;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items:center; 
  margin: 0 auto;
  animation: 2s show ease;
}
.ButtonInArticle{
  border: solid lightgray;
  background-color: lightblue;
  width: 100px;
  height: 50px;
  color:brown;
  border-radius:20px;
}

.ButtonInArticle:hover{
    background-color: #003dc0;
}
.ButtonInArticleVideo{
    border: solid lightgray;
    width: 250px;
    height: 70px;
    display: flex;
}

@keyframes show {
  from { opacity: 0.1; }
  to { opacity: 1; }
}