/* spartan-regular - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/spartan-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/spartan-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spartan-500 - latin */
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/spartan-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spartan-700 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/spartan-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
      font-family: 'Spartan';
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      color: black;
      margin: 0;
      background-color:white;
  }


.header{
  background-color: green;
}
.header_wrapper{
  display: flex;
  flex-wrap: wrap;
}

.header__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1250d6;
  
}

.list_with_imgs{
  list-style-image: url(/img/faq_list5_2.png);
  margin:20px;
  padding:0;
  display: flex;
  justify-content:center;
  align-items:center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none; 
}
li a:hover {
  background-color: #003dc0;
}
.img_tyler{
  width:10%;
  height: 5%;
}
img{
  margin: 2px;
}

h1{
  text-align: center;
}

.miganie{
    animation: flicker 3s infinite; /* Параметры анимации */
  }
    @keyframes flicker {
      from { opacity: 1; /* Непрозрачный текст */ }
      to { opacity: 0; /* Прозрачный текст */ }
    }


.text_variations{
  background-color:#3b79ff;
  top: 20px;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray;
}

.lists{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray;
  color:white;
}

.tables{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray;
}

.forms{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
}

.videos{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
}

.maps{
  background-color:#3b79ff;
  margin: 10px 20px;
  padding: 10px;
  border: solid lightgray; 
}

.imgs{
  background-color:#3b79ff;
  margin: 10px 20px 20px;
  padding: 10px;
  
  border: solid lightgray; 
}

.mount1{
  opacity: 0.5;
  -moz-transition: all 1s ease-in-out; /* эффект перехода для Firefox до версии 16.0 */
  -webkit-transition: all 1s ease-in-out; /* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */
  -o-transition: all 1s ease-in-out; /* эффект перехода для Opera до версии 12.10 */
  transition: all 1s ease-in-out; /* эффект перехода для других браузеров */
}
.mount1:hover {
  filter: alpha (Opacity=100);
  opacity: 1;
}
.mount2:hover{
  transform: scale(-1, 1);
}
.mount3{}