/* spartan-regular - latin */
@font-face {
  font-family: 'Spartan';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/spartan-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/spartan-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* spartan-500 - latin */
@font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/spartan-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* spartan-700 - latin */
  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/spartan-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
      font-family: 'Spartan';
      font-style: normal;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      color: black;
  }

  .wrapper{
    max-width: 1620px;
    margin: 0 auto;
  }
  .header{
      background-color: green;
  }
  .header_wrapper{
    display: flex;
    flex-wrap: wrap;
  }

  .header__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  .header__elements{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }